.Container {
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.Stars {
  position: relative;
  background: black;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1;
}
