@import './global.module.scss';

.White {
  @include flex(row);
  width: auto;
  height: auto;
  border: solid rgba(white, 0.3) 2px;
  padding: 3px 10px;
  color: rgba(white, 0.5);
  background-color: transparent;
  border-radius: 14px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  outline: none;
  transition: all 0.3s ease-out;
  @include animation('appear 1s alternate 0s');
}

.White:hover {
  border-color: rgba(white, 0);
  background-color: rgba(white, 1);
  color: #250736;
  font-weight: 700;
  cursor: pointer;
}

.MenuButton {
  @include transition(0.6);
  @include flex(column);
  justify-content: space-evenly;
  position: fixed;
  top: 45px;
  left: 45px;
  z-index: 12;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 10px;
  border-radius: 30px;
}

.MenuButton:hover {
  background-color: rgba(white, 0.2);
  cursor: pointer;
  .BurgerBot,
  .BurgerMid,
  .BurgerTop {
    background-color: rgba(white, 0.8) !important;
  }
}

.BurgerTop,
.BurgerMid,
.BurgerBot {
  width: 32px;
  height: 4px;
  border-radius: 4px;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: all;
}

.MenuActive .BurgerTop {
  @include transform('translate3d(-7px, 4px, 0) rotate(-45deg) scaleX(0.7)');
}
.MenuActive .BurgerBot {
  @include transform('translate3d(-7px, -4px, 0) rotate(45deg) scaleX(0.7)');
}

@media screen and (max-width: 766px) {
  .MenuButton {
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 30px;
    top: 12px;
    left: 12px;
  }
  .BurgerTop,
  .BurgerMid,
  .BurgerBot {
    width: 24px;
  }
}

.Red {
  @include transition(0.6);
  @include flex(row);
  width: auto;
  height: auto;
  border-radius: 24px;
  padding: 8px 16px;
  border: 2px solid rgba(red, 0.15);
  color: rgba(red, 0.33);
  font-size: 16px;
  font-weight: 700;
  margin-top: 32px;
  opacity: 0.5;
  @include animation('fadeIn 1s ease-in both 2s');
}

.Red:hover {
  background-color: rgb(122, 0, 0);
  border-color: rgb(122, 0, 0);
  color: black;
  cursor: pointer;
}
