@import './global.module.scss';

.ChatContainer {
  @include flex(column);
  @include transition(0);
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.RoomName {
  text-align: right;
  font-size: 32px;
  font-weight: 300;
  color: rgba(white, 0.33);
  position: fixed;
  top: 16px;
  right: 32px;
}

.UserName {
  text-align: right;
  font-size: 18px;
  font-weight: 300;
  color: rgba(white, 0.33);
  position: fixed;
  top: 55px;
  right: 32px;
}

.MessageMenu {
  @include flex(row);
  height: auto;
  width: 75%;
  margin-bottom: 12px;
}

.MessageForm {
  width: 50%;
  margin-right: 16px;
}

.Settings {
  @include flex(row);
  @include transition(0.6);
  height: 32px;
  width: 32px;
  margin-left: 8px;
  border-radius: 16px;
  @include animation('fadeIn 0.6s both 1s');
  svg {
    @include transition(0.6);
    width: 18px;
    height: auto;
  }
}

.Settings:hover {
  cursor: pointer;
  // img {
  //   opacity: 1;
  // }
}

.SettingsActive {
  svg {
    @include animation('rotateInfinite 2s infinite both');
    @include keyframesMixin(rotateInfinite) {
      from {
        opacity: 1;
      }
      to {
        @include transform('rotate(360deg)');
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 766px) {
  // .ChatContainer {
  //   height: calc(100vh - 64px);
  // }
  .MessageMenu {
    width: 90%;
    padding-left: 16px;
    margin-bottom: 0;
  }
  .MessageForm {
    width: 70%;
  }
  .RoomName {
    font-size: 24px;
    right: 12px;
    top: 12px;
  }
  .UserName {
    opacity: 0.6;
    font-size: 16px;
    right: 12px;
    top: 36px;
  }
}
