@import './global.module.scss';

.Container {
  @include transition(0.6);
  @include flex(column);
  justify-content: flex-start;
  width: calc(100% - 32px);
  height: 32px;
  background-color: rgba(white, 0.025);
  border-radius: 16px;
  margin: 3px 0;
}

.Active {
  @include transition(0.6);
  height: 400px;
  background-color: rgba(white, 0.05);

  .Header {
    opacity: 1;
  }

  .PlusOne {
    @include transform('rotate(0deg) scaleX(1.25) !important');
    opacity: 0 !important;
  }

  .PlusTwo {
    @include transform('rotate(-180deg) scaleX(1.25) !important');
  }
}

.NotSignedIn {
  height: 64px;
}

.Header {
  @include flex(row);
  @include transition(0.3);
  z-index: 3;
  border-radius: 16px;
  padding: 4px 16px;
  background-color: rgba(white, 0.1);
  opacity: 0.5;
}

.Header:hover {
  opacity: 0.75;
  cursor: pointer;
}

.Title {
  color: rgba(white, 0.6);
  font-weight: 700;
}
.Plus {
  @include flex(row);
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: rgba(white, 0.25);
  margin-right: 10px;

  .PlusOne,
  .PlusTwo {
    @include transition(0.5);
    width: 14px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: relative;
  }

  .PlusOne {
    top: 0px;
    left: 6px;

    @include transform('rotate(-90deg) scaleX(1.25)');
  }

  .PlusTwo {
    top: 0px;
    left: -6px;
    @include transform('scaleX(1.25)');
  }
}

.FormContainer {
  @include flex(row);
  height: 100%;
  width: 100%;
}
