@import './global.module.scss';

.Loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  position: relative;
  @include animation('rotate360 1.4s infinite linear');
  @include transform('translateZ(0)');
}
.Loader:before {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.Loader:after {
  background: #420e0c;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Timer {
  position: relative;
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin-left: 16px;

  .Center {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    top: 3px;
    left: 3px;
  }

  .Left {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 11px;
    height: 22px;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
    @include animationName('showUp');
    @include animationTimingFunction('linear');
    @include animationDirection('reverse');
    @include transformOrigin('center right');
  }
  .Spinner {
    width: 10px;
    height: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white !important;
    @include animationName('rotate360');
    @include animationTimingFunction('linear');
    @include animationDirection('normal');
    @include transformOrigin('center right');
  }
  .Right {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white !important;
    @include animationName('showUp');
    @include animationTimingFunction('linear');
    @include animationDirection('normal');
    float: right;
  }

  @include keyframesMixin(rotate360) {
    0% {
      @include transform('rotate(0deg)');
    }
    100% {
      @include transform('rotate(360deg)');
    }
  }

  @include keyframesMixin(showUp) {
    0%,
    49% {
      opacity: 0;
    }
    50%,
    51%,
    100% {
      opacity: 1;
    }
  }
}
