@import './global.module.scss';

.Form {
  @include flex(column);
}

.FormContainer {
  @include flex(column);
  @include animation('fadeIn 0.6s both 0.5s');
  height: 100%;
  width: 100%;
  form {
    width: 80%;
  }
}

.InputContainer {
  @include flex(row);
  width: 100%;
}

.Input {
  @include transition(0.4);
  background-color: rgba(white, 0.05);
  border-radius: 16px;
  color: rgba(white, 0.25);
  font-size: 14px;
  margin: 4px 0;
}

.Input:hover {
  background-color: rgba(white, 0.1);
  color: rgba(white, 1);
}
.Input:focus {
  background-color: rgba(white, 0.15);
  color: rgba(white, 1);
}
.Input::placeholder {
  color: rgba(white, 0.2);
  text-align: left;
  font-size: 14px;
}

.TextInput {
  @extend .Input;
  width: 100%;
  height: 32px;
  font-size: 14px;
  border-width: 0px;
  padding: 0px 16px;
  text-align: left;
  outline: none;
}

.CheckBoxContainer {
  @include flex(row);
  justify-content: flex-start;
  width: 100%;

  svg {
    width: 16px;
    height: 16px;
    position: relative;
    left: -39px;
    pointer-events: none;
  }
}

.PasswordInput {
  @extend .TextInput;
  width: 130px;
}

.CheckBoxContainerInner {
  @extend .Input;
  @include flex(row);
  width: 64px;
  height: 32px;
  border-radius: 16px;
  outline: none;
  @include appearance(none);
}

.CheckBoxContainerInner:checked {
  outline: none;
  background-color: rgba(white, 0.25);
}

.CheckBoxContainerInner:hover {
  cursor: pointer;
}

.RangeInput {
  @extend .Input;
  @include appearance(none);
  width: 100%;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  @include transition(0.4);
  @include appearance(none);
  border: 0px;
  background: rgba(white, 0.1);
  width: 16px;
  height: 16px;
  border-radius: 12px;
  margin-top: 0px;
  cursor: pointer;
}

input[type='range']:hover::-webkit-slider-thumb {
  background: rgba(white, 0.2);
}

input[type='range']:focus::-webkit-slider-thumb {
  background: rgba(white, 0.4);
}

.Label {
  @include flex(row);
  justify-content: flex-start;
  height: 24px;
}

.LabelTitle {
  color: rgba(white, 0.4);
  font-size: 14px;
}

.LabelValue {
  font-weight: 500;
  padding-left: 6px;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Submit {
  @include flex(row);
  width: 100%;
  margin-top: 20px;
}

.ErrorInput {
  background-color: rgba(red, 0.2) !important;
}

.Error {
  font-size: 14px;
  font-style: italic;
  color: rgba(#ff1616, 1);
  margin-top: 0;
  text-shadow: 1px 1px 1px rgba(black, 0.25);
}

.TextCenter {
  text-align: center;
}

.MessageInput {
  @include transition(0.4);
  border-radius: 16px;
  // color: rgba(white, 0.66);
  font-size: 14px;
  margin: 4px 0;
  width: 100%;
  height: 32px;
  font-size: 14px;
  border-width: 0px;
  padding: 0px 16px;
  text-align: left;
  outline: none;
  opacity: 0.5;
}

.MessageInput:hover {
  color: rgba(white, 1);
  opacity: 0.75;
}
.MessageInput:focus {
  color: rgba(white, 1);
  opacity: 1;
}
.MessageInput::placeholder {
  // color: rgba(white, 0.66);
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.ColorSettings {
  @include flex(row);
  width: 75%;
  margin-bottom: 12px;

  .ColorSetting {
    @include flex(row);
    .ColorLabel {
      @include flex(row);
      width: 100px;
      font-size: 14px;
      color: rgba(white, 0.5);
    }
  }
}
