@mixin flex($direction) {
  display: flex;
  flex-direction: #{$direction};
  justify-content: center;
  align-items: center;
}

@mixin transition($time) {
  transition: all #{$time}s ease-out;
}

@mixin animation($content) {
  -webkit-animation: #{$content};
  -moz-animation: #{$content};
  // -ms-animation: #{$content};
  // -o-animation: #{$content};
  animation: #{$content};
}

@mixin animationName($content) {
  -webkit-animation-name: #{$content};
  -moz-animation-name: #{$content};
  // -ms-animation-name: #{$content};
  // -o-animation-name: #{$content};
  animation-name: #{$content};
}

@mixin animationDirection($content) {
  -webkit-animation-direction: #{$content};
  -moz-animation-direction: #{$content};
  // -ms-animation-direction: #{$content};
  // -o-animation-direction: #{$content};
  animation-direction: #{$content};
}

@mixin animationTimingFunction($content) {
  -webkit-animation-timing-function: #{$content};
  -moz-animation-timing-function: #{$content};
  // -ms-animation-timing-function: #{$content};
  // -o-animation-timing-function: #{$content};
  animation-timing-function: #{$content};
}

@mixin transform($content) {
  -webkit-transform: #{$content};
  -moz-transform: #{$content};
  // -ms-transform: #{$content};
  // -o-transform: #{$content};
  transform: #{$content};
}

@mixin transformOrigin($content) {
  -webkit-transform-origin: #{$content};
  -moz-transform-origin: #{$content};
  // -ms-transform-origin: #{$content};
  // -o-transform-origin: #{$content};
  transform-origin: #{$content};
}

@mixin appearance($content) {
  -webkit-appearance: $content;
  -moz-appearance: $content;
  // -ms-appearance: $content;
  // -o-appearance: $content;
  appearance: $content;
}

@mixin keyframesMixin($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  // @-ms-keyframes #{$name} {
  //   @content;
  // }
  // @-o-keyframes #{$name} {
  //   @content;
  // }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframesMixin(appear) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}

@include keyframesMixin(disappear) {
  0% {
    opacity: initial;
  }
  100% {
    opacity: 0;
  }
}

@include keyframesMixin(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}
