@import './global.module.scss';

.ServerMessagesContainer {
  @include flex(column);
  // position: relative;
  // bottom: 12px;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 36px;
}

.ServerMessage {
  @include flex(row);
  width: auto;
  max-width: 80%;
  height: auto;
  padding: 4px 16px;
  font-size: 16px;
  text-align: center;
  border-radius: 24px;
  @include animation('notify 4s ease-in-out both');
  @include keyframesMixin(notify) {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 766px) {
  .ServerMessagesContainer {
    top: 85px;
  }
}
