@import './global.module.scss';

.OuterContainer {
  @include flex(column);
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.InnerContainer {
  @include flex(column);
  min-width: 40%;
  width: auto;
  min-height: 40%;
  height: auto;
  border-radius: 40px;
  padding: 20px;
  @include animation(
    'slideInBottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.3s'
  );
}

.Title {
  margin: 0;
  text-align: center;
  color: rgba(white, 0.75);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Subtitle {
  font-weight: 300;
  text-align: center;
  color: rgba(white, 0.4);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Large {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: -2px;
}

.Medium {
  font-weight: 300;
  font-size: 24px;
  opacity: 0.8;
}

.Small {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.5;
}

.Icon {
  width: 100px;
  height: auto;
}

@include keyframesMixin(slideInBottom) {
  0% {
    opacity: 0;
    @include transform('translateY(-100px)');
  }
  100% {
    opacity: initial;
    @include transform('translateY(0px)');
  }
}
