@import './global.module.scss';

.Details {
  @include flex(column);
  @include transition(0.6);
  opacity: 1;
  position: relative;
  top: -32px;
  margin-bottom: -32px;
  width: 100%;
  height: 4 * 32px;
  max-height: 8 * 32px;
  background-color: rgba(white, 0.1);
  border-radius: 16px;
  z-index: 0;

  .Options {
    @include flex(row);
    @include animation('appear 1s both 0s');
    width: 90%;
    flex-wrap: wrap;
    opacity: 1;
    margin-top: 32+12px;
    margin-bottom: auto;

    .Option {
      @include flex(row);
      width: auto;
      opacity: 0.5;
      margin: 5px 5px 10px 5px;
      padding-right: 6px;
      border: solid rgba(white, 0.3) 2px;
      border-radius: 14px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      cursor: help;

      span {
        min-width: 40px;
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
      }

      svg {
        padding: 0 6px;
        width: auto;
        height: 14px;
      }
    }
  }
}

.Hidden {
  @include transition(0.6);
  position: relative;
  width: 100%;
  border-radius: 16px;
  z-index: -1;
  min-height: 32px;
  height: 32px;
  opacity: 0;
  .Options {
    @include animation('disappear 0.1s ease-in both 0s');
  }
}
