@import './global.module.scss';

%transition {
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.RoomList {
  @extend %transition;
  @include animation('disappear 0.4s both 0s');
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow: scroll;
  opacity: 0;
  width: 0px;
  min-width: 0px;
  padding-top: 110px;
  padding-bottom: 20px;

  .UniverseRooms {
    @include flex(column);
    width: 100%;
  }
  z-index: 10;
}

.Active {
  @extend %transition;
  @include animation('fadeIn 0.6s both 0.1s');
  width: 25vw;
  min-width: 25vw;
  opacity: 1;
  overflow: scroll;
}

.Header {
  align-self: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  margin: 20px 0px;
  padding-left: 32px;
  font-size: 26px;
  font-weight: 300;
  color: rgba(white, 0.4);
  cursor: default;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Active {
    width: 40vw;
    min-width: 40vw;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1441px) {
  .Active {
    width: 30vw;
    min-width: 30vw;
  }
}

@media screen and (max-width: 766px) {
  .Active {
    width: 100vw;
    min-width: 100vw;
    padding-bottom: 64px;
  }
}
