@import './global.module.scss';

.Container {
  width: calc(100% - 32px);
  @include flex(column);
  margin: 3px 0;
  transition: all 0.6s ease-in-out;
  .DetailsHidden,
  .Details {
    transition: all 0.6s ease-in-out;
  }
  .Room {
    transition: all 0.2s linear;
  }
}

.Room {
  @include flex(row);
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
  height: 32px;
  background-color: rgba(white, 0.075);
  border-radius: 20px;
  z-index: 2;
  opacity: 0.37;
  color: rgba(white, 1);
  .Title {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Users {
    @include flex(row);
    opacity: 0.5;
    justify-content: space-around;
    margin-right: 16px;
    border: solid rgba(white, 0.3) 2px;
    border-radius: 14px;
    span {
      text-align: center;
      width: 16px;
      font-size: 16px;
      font-weight: 500;
      padding: 0 0 0 6px;
    }
    svg {
      padding: 0 6px;
      width: auto;
      height: 16px;
    }
  }
}

.RoomHovered {
  @extend .Room;
  opacity: 1;
  background-color: rgba(white, 0.1);
  color: white;
  cursor: pointer;
}

.Room:hover {
  opacity: 1;
  background-color: rgba(white, 0.1);
  cursor: pointer;
}

.RoomSelected {
  @include animation('placeholderAnimate 4s forwards linear infinite');
  color: white;
  opacity: 1;
  background: rgba(white, 0.2);
  background: linear-gradient(
    to right,
    rgba(white, 0.1) 0%,
    rgba(white, 0.2) 10%,
    rgba(white, 0.3) 20%,
    rgba(white, 0.2) 30%,
    rgba(white, 0.1) 40%
  );
  background-size: 2000px;

  .Title,
  .Users {
    opacity: 1;
    font-weight: 500;
  }
}

@include keyframesMixin(placeholderAnimate) {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
