@import './global.module.scss';

.UsersContainer {
  @include flex(row);
  @include transition(0.6);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.UserContainer {
  @include flex(column);
  justify-content: flex-end;
  justify-items: flex-end;
  width: 300px;
  height: 8 * 36px;
  margin: 20px 10px;
  overflow: hidden;
}

.User {
  @include animation('fadeIn 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both');
  @include flex(row);
  width: auto;
  min-height: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 0 18px;
  margin-top: 2px;
}

.UserName {
  font-size: 18px;
  font-weight: 300;
  color: inherit;
}

.Messages {
  @include flex(column);
  @include transition(0.6);
  width: 100%;
  height: auto;
  // max-height: 432px;
  // overflow: scroll;
}

.Message {
  @include flex(row);
  width: auto;
  height: auto;
  border-radius: 16px;
  padding: 6px 16px;
  margin: 2px 0;
  font-size: 14px;
  color: white;
  white-space: pre-wrap;
  box-sizing: content-box;
}

@media screen and (max-width: 766px) {
  .UserContainer {
    margin: 10px 10px;
    height: 3 * 36 + 24px;
  }
  .User {
    min-height: 24px;
    height: 24px;
    border-radius: 12px;
    padding: 0 12px;
  }

  .UserName {
    font-size: 12px;
  }
}
